repos:
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
    -   id: ruff
        args: [ --fix ]
    -   id: ruff-format

-   repo: local
    hooks:
    -   id: generate-requirements
        name: generate-requirements
        entry: python3 scripts/generate_requirements.py
        language: system
        files: ^pyproject\.toml$
        pass_filenames: false
