name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Setup Micromamba
      uses: mamba-org/setup-micromamba@v1
      with:
        environment-file: environment.yml
        init-shell: bash
        cache-environment: true

    - name: Install test dependencies
      shell: bash -l {0}
      run: |
        micromamba run -n xregrid-env pip install pytest pytest-benchmark ruff pre-commit matplotlib cartopy hvplot geoviews

    - name: Run pre-commit
      shell: bash -l {0}
      run: |
        micromamba run -n xregrid-env pre-commit run --all-files

    - name: Run tests
      shell: bash -l {0}
      run: |
        micromamba run -n xregrid-env pytest tests/test_xregrid.py
